*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.container{
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
.results {
    display: flex;
}
.hidden{
    display: none;
}
h1 {
    font-weight: bold;
    font-size: 50px;
    color: blue;
    margin-bottom: 2px;
    padding: 5px;
    text-align: center;
}
h2{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 2px;
    padding: 5px;
}
p{
    padding: 5px;
}
form{
    padding: 10px;
    text-align: center:
}
